node_modules/
application.info
logs/
public/assets/js/bundle.js
public/assets/css/style.css
public/assets/css/media.css
.idea
*.pid
pidfile
pidfile.*
*.info
*.log
public/favicon.ico
package-lock.json
.vscode
.DS_store


