@media only screen and (min-width: 600px) {
    nav {
        .login-input {
            width: 140px;
        }

        .btn-login {
            width: 85px;
            display: inline-block;
        }

        .register-link {
            width: 85px;
            display: inline-block;
        }
    }
}