@media only screen and (min-width: 600px) {
    nav {
        .nav-login {
            display: block;
            clear: none;
            width: auto;
            margin-right: 20px;
        }
    }
}