nav {
    .nav-menu-container {
        display: inline-block;
        width: 60%;
        padding-top: 5px;
    }

    .login-bar-form {
        display: inline-block;
    }

    .nav-login {
        float: right;
        clear: both;
        margin: auto;
    }

    .login-input {
        padding-top: 5px;
        width: 98%;
        height: 30px;
        margin: 2px;
    }

    .btn-login {
        margin: 3px;
        display: block;
        width: 100%;
    }

    .register-link {
        margin: 3px;
        display: block;
        width: 100%;
    }

    .nav-hello {
        float: right;
        clear: both;
        margin-right: 115px;
        .nav-link {
            display: inline-block;
        }
        .nav-item {
            text-decoration: none;
            color: black;
        }
        a:hover{
            color: red;
        }
    }
    
    .dropdown {
        padding-right: 10px;
        cursor: pointer;
        display: inline-block;
    }

}